// Navigation code here

nav {
  display: flex; 
  .flexes(row wrap, center);
  background-color: @wild-sand; 
  border-bottom: 1px solid @sea-shell; 
  

  .nav-logo {
    width: 100%; 
    text-align: center;
    padding: 1.5vh 0 1vh 0; 
  } // Closes logo

  .nav-wrapper {
    display: flex; 
    .flexes(row nowrap, center);
    width: 100%; 
    

    a {
      .anchors(none, @river-bend, center); 
      width: 8%;  
      font-size: 1.7rem; 
      padding: 1vh 0 1.5vh 0; 

      @media @phone {
        width: 18%; 
      }

    } // Closes anchors

  } // Closes nav-wrapper
} // Closes nav